* {
box-sizing: border-box;

}

body, html {

    margin: 0;
    padding: 0;
    margin-left: 2%;
    height: 100%;

}




.forma {

margin-top: 4%;

}


.estudante {

    position: absolute;
    margin-top: -2%;
    margin-left: 8%;

}

.hr {

    margin-top: -1%;
    display: none;


}

.pleno img {

    margin-top: 5%;
    height: 3rem;
}

.p2 {

    position: absolute;
    margin-top: -2.7%;
    margin-left: 16.8%;

}